#main-picture {
    position: relative;
    display: flex;
    justify-content: center;
}

#main-picture img {
    width: 400px;
}

#cover-picture {
    position: absolute;

    width: 400px;
    height: 400px;
    background-color: #ffc5d3;
    transition: 0.5s;
    z-index: 2;
}

#open-btn {
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #ffc5d3;
    /* color: #fff */
}

